@model Flex_SGM.Models.CDockaudit
@{
    Layout = "~/Views/Shared/_LayoutC.cshtml";
}
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-offset-2 col-md-8 col-sm-8 col-xs-8">
            <div class="x_panel clearfix">
                <div class="x_title">
                    <h2>Editar DockAudit<small>Editar Registro de DockAudit </small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-xs-12">
                            <div class="form-group col-xs-3">
                                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    <div class="form-line" id="bs_datepicker_container">
                                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                                    <p>Fecha en la que se origino el Reclamo</p>
                                </div>
                            </div>
                            <div class="form-group  col-xs-2">
                                @Html.LabelFor(model => model.Turno, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Turno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Turno, "", new { @class = "text-danger" })
                                    <p>Turno del Hallazgo</p>
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                @Html.LabelFor(model => model.NoDockAudit, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NoDockAudit, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoDockAudit, "", new { @class = "text-danger" })
                                    <p>Numero Consecutivo</p>
                                </div>
                            </div>


                            <div class="form-group col-xs-4">

                                @Html.LabelFor(model => model.AuditorReporto, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AuditorReporto, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AuditorReporto, "", new { @class = "text-danger" })
                                    <p>Nombre del Auditor</p>
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix" />
                        <div class="col-xs-12">
                            <div class="form-group col-xs-2">
                                @Html.LabelFor(model => model.lote, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.lote, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.lote, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-xs-5">
                                @Html.LabelFor(model => model.cliente, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.cliente, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.cliente, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-xs-5">
                                @Html.LabelFor(model => model.NoDeParte, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NoDeParte, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoDeParte, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                        <div class="col-xs-12">
                            <div class="form-group col-xs-5">
                                @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-xs-5">
                                @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix" />
                        <div class="col-xs-12">

                            <div class="form-group col-xs-6">
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <a href="/bitacora/Evidence/Quality/Estandar/Lista de defectos por area.pdf" target="_blank">Lista de Codigos de Clasificacion</a>
                            <div class="form-group col-xs-6">
                                @Html.LabelFor(model => model.Clasificacion, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Clasificacion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Clasificacion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">

                            <div class="form-group col-xs-4">
                                @Html.LabelFor(model => model.AreaOrigen, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AreaOrigen, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AreaOrigen, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-xs-4">
                                @Html.LabelFor(model => model.SupOrigen, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SupOrigen, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SupOrigen, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-xs-4">
                                @Html.LabelFor(model => model.SupRecibio, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SupRecibio, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SupRecibio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix" />
                        <div class="col-xs-12">
                            <div class="form-group col-xs-8">
                                @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix" />
                        <div class="col-xs-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.a1why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a1why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a1why, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.a2why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a2why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a2why, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.a3why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a3why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a3why, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.a4why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a4why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a4why, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.a5why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a5why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a5why, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.acausa, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.acausa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.acausa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.aaccion, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.aaccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.aaccion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <br />
                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar Cambios en Registro" class="btn btn-success col-xs-6" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Basic Example -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel cbr">
                <div class="x_title">
                    <center><h3> Condicion NG</h3></center>
                    <input type="file" class="filepond" name="filepond1" multiple
                           data-max-file-size="30MB" data-max-files="6">
                </div>
                <div class="x_content">


                    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @{int i = 0;
                                string path = Path.Combine(Server.MapPath("~/Evidence/Quality/Docks"), "before", @Model.ID.ToString());
                                string path2 = Path.Combine("../../Evidence/Quality/Docks", "before", @Model.ID.ToString());

                                DirectoryInfo Folder;
                                FileInfo[] Images;


                                if (Directory.Exists(path))
                                {
                                    Folder = new DirectoryInfo(path);
                                    Images = Folder.GetFiles();
                                    List<String> imagesList = new List<String>();

                                    for (int ii = 0; ii < Images.Length; ii++)
                                    {
                                        imagesList.Add(String.Format(@"{0}\{1}", path2, Images[ii].Name));
                                        // Console.WriteLine(String.Format(@"{0}/{1}", folderName, Images[i].Name));
                                    }
                                    foreach (var item in imagesList)
                                    {
                                        i++;
                                        var active = i == 1 ? "active" : "";
                                        if (item.ToLower().Contains("jpg") || item.ToLower().Contains("jpeg") || item.ToLower().Contains("png") || item.ToLower().Contains("bmp"))
                                        {
                                            <div class="item @active">
                                                <img src="@Url.Content(@item)">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item @active">
                                                <center>
                                                    @Html.ActionLink(@item, "Download", "CDockaudits", new { link = item }, null)
                                                </center>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- Basic Example -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="Evidence">
            <div class="x_panel cbv">
                <div class="x_title">
                    <center><h3>Condicion OK</h3></center>
                    <input type="file" class="filepond" name="filepond2" multiple
                           data-max-file-size="30MB" data-max-files="6">
                </div>
                <div class="x_content">



                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @{ i = 0;
                                path = Path.Combine(Server.MapPath("~/Evidence/Quality/Docks"), "after", @Model.ID.ToString());
                                path2 = Path.Combine("../../Evidence/Quality/Docks", "after", @Model.ID.ToString());

                                if (Directory.Exists(path))
                                {
                                    Folder = new DirectoryInfo(path);
                                    Images = Folder.GetFiles();
                                    List<String> imagesList = new List<String>();

                                    for (int ii = 0; ii < Images.Length; ii++)
                                    {
                                        imagesList.Add(String.Format(@"{0}\{1}", path2, Images[ii].Name));
                                        // Console.WriteLine(String.Format(@"{0}/{1}", folderName, Images[i].Name));
                                    }
                                    foreach (var item in imagesList)
                                    {
                                        i++;
                                        var active = i == 1 ? "active" : "";
                                        if (item.ToLower().Contains("jpg") || item.ToLower().Contains("jpeg") || item.ToLower().Contains("png") || item.ToLower().Contains("bmp"))
                                        {
                                            <div class="item @active">
                                                <img src="@Url.Content(@item)">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item @active">
                                                <center>
                                                    @Html.ActionLink(@item, "Download", "CDockaudits", new { link = item }, null)
                                                </center>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



<div>
    @Html.ActionLink("Regresar", "Index")
    <div class="btn btn-default">@Html.ActionLink("Menu Calidad", "Index", "Calidad", null, htmlAttributes: new { @onclick = "$('#loadingImg').show();" })</div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.Section != null)
    {
        <script>
        $(function () {
                window.location.hash = '#@ViewBag.Section';
        });
        </script>
    }
    <script>

    FilePond.setOptions(labels_es_ES);

   var pond1= FilePond.create(document.querySelector('[name ="filepond1"]'));
    pond1.setOptions({
server: '@Url.Action("SaveFile", "CDockaudits", new { id= @Model.ID ,t="a" })'
    });
        pond1.on('FilePond:addfile', function (e) {
            console.log('file added event', e);
        });

    var pond2 =   FilePond.create(document.querySelector('[name ="filepond2"]'));

    pond2.setOptions({
server: '@Url.Action("SaveFile", "CDockaudits", new { id=  @Model.ID, t = "d" })'
});

        pond2.on('FilePond:addfile', function (e) {
            console.log('file added event', e);
        });




    </script>
}