@model Flex_SGM.Models.CAndon2

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutC.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-offset-2 col-md-8 col-sm-8 col-xs-8">
            <div class="x_panel clearfix">
                <div class="x_title">
                    <h2>Crear Andon<small>Crear Registro de Andon </small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-xs-12">
                            <div class="form-group col-xs-3">
                                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    <div class="form-line" id="bs_datepicker_container">
                                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                                    <p>Fecha en la que se origino el Reclamo</p>
                                </div>
                            </div>
                            <div class="form-group  col-xs-2">
                                @Html.LabelFor(model => model.Turno, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Turno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Turno, "", new { @class = "text-danger" })
                                    <p>Turno del Hallazgo</p>
                                </div>
                            </div>
                            <div class="form-group col-xs-2">
                                @Html.LabelFor(model => model.Hora, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AreasgID, "Area Generadora", htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-10">
                                       
                                        @Html.DropDownList("AreasgID",null,htmlAttributes: new { @class = "form-control", data_url = Url.Action("areagenero") }
)

                                        @Html.ValidationMessageFor(model => model.AreasgID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.AndonSupervisoresID, "Supervisor", htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("AndonSupervisoresID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AndonSupervisoresID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AreaseID, "Area Emisora", htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("AreaseID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AreaseID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AndonAuditorID, "Auditor", htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("AndonAuditorID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AndonAuditorID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix" />
                        <div class="col-xs-12">
                            <div class="form-group col-xs-3">
                                @Html.LabelFor(model => model.ClientesID, "Cliente", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ClientesID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ClientesID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                @Html.LabelFor(model => model.ProyectosID, "Proyecto", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ProyectosID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProyectosID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-xs-2">
                                @Html.LabelFor(model => model.lote, "Lote", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.lote, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.lote, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-xs-4">
                                @Html.LabelFor(model => model.NoDeParte, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NoDeParte, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoDeParte, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NombreDeParte, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NombreDeParte, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NombreDeParte, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <hr class="clearfix" />
                        <div class="col-xs-12">
                            <div class="form-group  col-xs-4">
                                @Html.LabelFor(model => model.AndonDefectoID, "Defecto", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.DropDownList("AndonDefectoID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AndonDefectoID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-xs-2">
                                @Html.LabelFor(model => model.Cantidadpz, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Cantidadpz, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cantidadpz, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <hr class="clearfix" />
                        <div class="x_panel">
                            <div class="x_title collapse-link">
                                @Html.Label("Personal que asiste al llamado")
                                <ul class="nav navbar-right">
                                    <li>
                                        <a><i class="fa fa-chevron-down"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="x_content col-xs-12 ">
                                <div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Nombre1, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Nombre1, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Nombre1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Area1, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Area1, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Area1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Nombre2, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Nombre2, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Nombre2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Area2, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Area2, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Area2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Nombre3, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Nombre3, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Nombre3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Area3, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Area3, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Area3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Nombre4, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Nombre4, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Nombre4, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Area4, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Area4, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Area4, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Nombre5, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Nombre5, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Nombre5, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Area5, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Area5, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Area5, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Nombre6, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Nombre6, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Nombre6, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Area6, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Area6, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Area6, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Nombre7, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Nombre7, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Nombre7, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        @Html.LabelFor(model => model.Asistentes.Area7, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Asistentes.Area7, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Asistentes.Area7, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr class="clearfix" />
                        <div class="col-xs-12">
                            <div class="form-group clearfix">
                                @Html.LabelFor(model => model.EstatusAndon, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EstatusAndon, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EstatusAndon, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-xs-6 clearfix">
                                @Html.LabelFor(model => model.Esproblema, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Esproblema)
                                        @Html.ValidationMessageFor(model => model.Esproblema, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group  col-xs-6 clearfix">
                                @Html.LabelFor(model => model.Esproblemaseguridad, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Esproblemaseguridad)
                                        @Html.ValidationMessageFor(model => model.Esproblemaseguridad, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 clearfix">
                                @Html.LabelFor(model => model.Esproblemavario, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Esproblemavario)
                                        @Html.ValidationMessageFor(model => model.Esproblemavario, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr class="clearfix" />
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.a1why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a1why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a1why, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.a2why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a2why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a2why, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.a3why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a3why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a3why, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.a4why, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a4why, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a4why, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.a50d, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.a50d, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.a50d, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix" />
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Causas, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Causas, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Causas, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Acciones, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Acciones, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Acciones, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <br />
                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar Cambios en Registro" class="btn btn-success col-xs-6" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

           $(function () {
            $('#AreasgID').change(function () {
                var url = $(this).data('url');
                var data = { Tipo: $(this).val() };
                $.getJSON(url, data, function (xdes) {
                    var DessDdl = $('#AndonDefectoID');
                    DessDdl.empty();
                    $.each(xdes, function (id, value) {
                        DessDdl.append($('<option/>', {
                            value: id,
                            text: value
                        }));
                    });
                });
            });
            });
                    
        $('#AreasgID').change(function () {
            $.ajax({
                type: "GET",
                async: false,
                url: "@Url.Action("areagenero")",
                data: { Tipo: $(this).val() },
                cache: false,
                dataType: "html",
                failure: function () {
                    alert(" An error occurred.");
                },
                success: function (result) {
                      console.log(result);
                    UpdateToAndFromTypes(result);
                }
            });
        });

              $(function UpdateToAndFromTypes(result) {
    $("#AndonDefectoID").empty();
       $.each(result, function(id, value) {   
         $('#AndonDefectoID')
             .append($("<option></option>")
             .attr("value",key)
             .text(value)); 
       });    
    });



        $(function () {

            $("#Normaldrop").chosen();
            $("#Normaldrop1").chosen();
            $("#Normaldrop2").chosen();

        });

    </script>
}

