@model List<Flex_SGM.Models.ApplicationUser>
@{
    ViewBag.Title = "Administrar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Usuarios (Departamento)</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel cbg">
                    <div class="x_content">
                        <div class="row">
                            <div class="clearfix"></div>
                           @foreach (var u in Model)
                            {
                                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                    <div class="profile_view">
                                        <div class="well well-sm" style="background: lightgray"><h3 class="brief"><i><b>@u.Puesto</b></i></h3></div>
                                        <div class="col-sm-12">
                                            <div class="left col-xs-7">
                                                <h2>@u.UserFullName</h2>
                                                <p><strong>@u.Puesto de @u.Departamento </strong></p>
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-user"></i> Usuario: @u.UserName </li>
                                                    <li><i class="fa fa-id-card"></i> Nomina: @u.Nomina </li>
                                                    <li><i class="fa fa-industry"></i> Role: @u.Area </li>
                                                    <li><i class="fa fa-mail-bulk"></i> Email: @u.Email </li>
                                                </ul>
                                            </div>
                                            <div class="right col-xs-5 text-center">
                                                <img src="~/Users/@u.UserName/user.png" alt="" class="img-circle img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 bottom text-center">
                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <p class="ratings">
                                                    <a>4.0</a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                </p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <i class="fa fa-user">
                                                    </i> <i class="fa fa-comments-o"></i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("profile", "Manage", new { name=u.UserName})';return false;">
                                                    <i class="fa fa-user"> </i> Ver Perfil
                                                </button>   
                                                @if (ViewBag.super == true)
                                                {
                                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target=".@u.UserName">  <i class="fa fa-asterisk"> </i> Eliminar Usuario</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade @u.UserName" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel2">Eliminar a @u.UserName</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Estas Seguro?</h4>
                                                <p>Eliminaras al usuario: @u.UserFullName</p>
                                                <p>Esta Accion no se puede deshacer... </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Deleteu", "Manage", new { name=u.UserName})';return false;">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
