@model Flex_SGM.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h3>Perfil de @Model.idusuario</h3>
    <hr />
    <div class="profile_img">
        <div id="crop-avatar">
            <!-- Current avatar -->
            <img class="img-responsive avatar-view" src="~/Users/@Model.idusuario/user.png" alt="Avatar" title="Cambiar el avatar">
            <i>(Mejor tamaño es 200 x 200 pixeles)</i>
            <br />
            <input type="file" class="filepond; col-md-3" name="filepond1" multiple data-max-file-size="30MB" data-max-files="5">
            <br />
        </div>
    </div>
    <br />
    <br />
    <dl class="dl-horizontal">
        <dt>Nombre:</dt>
        <dd>
            @Html.DisplayFor(s => s.Nombre)
        </dd>
        <dt>Area:</dt>
        <dd>
            @Html.DisplayFor(s => s.Area)
        </dd>
        <dt>Puesto:</dt>
        <dd>
            @Html.DisplayFor(s => s.Puesto)
        </dd>
        <dt>ID usuario:</dt>
        <dd>
            @Html.DisplayFor(s => s.idusuario)
        </dd>
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Crear", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>

@section Scripts {

    <Script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        FilePond.setOptions(labels_es_ES);


        var pond1= FilePond.create(document.querySelector('[name ="filepond1"]'));
        pond1.setOptions({
            server: '@Url.Action("SaveFile", "Manage", new { id = Model.idusuario })'
        });
        pond1.on("complete", function (data) {
            var res = JSON.parse(data.xhr.responseText);
            console.log(res.Message);
        });

    </Script>
}