@model IEnumerable<Flex_SGM.Models.CAndon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoAndon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaActivacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZonaActivacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuditorArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDeParte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defecto1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidadpz1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defecto2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidadpz2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defecto3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidadpz3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preventivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaDefecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuditorAreaDefecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponsableAndon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormatoAndon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertaCalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetCertificación)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstatusAndon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a1d)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a5d)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a10d)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a20d)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a30d)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoAndon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaActivacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZonaActivacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuditorArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDeParte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defecto1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidadpz1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defecto2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidadpz2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defecto3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidadpz3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preventivos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaDefecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuditorAreaDefecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponsableAndon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormatoAndon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertaCalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetCertificación)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstatusAndon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a1d)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a5d)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a10d)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a20d)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a30d)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
