@model IEnumerable<Flex_SGM.Models.OILs>

@{
    ViewBag.Title = "Estado de OILs";
}
<center><h1 id="alerts">Color de estado de OILs</h1></center>

    <center>
        <h1> @Html.ActionLink("Crear un nuevo OIL", "Create")</h1>
    </center>

<div class="card">
    <div class="row">

        <center>
            <div class="alert col-md-6" style="background-color:darkred; color: white;">Estatus 5-Actividad No REALIZADA en tiempo / Existen:@ViewBag.NoReali Actividades</div>
            <div class="alert col-md-6" style="background-color:yellow;">Estatus 4-Actividad con Fecha compromiso muy próxima / Existen:@ViewBag.Fechaprox Actividades</div>
            <div class="alert col-md-6" style="background-color:darkseagreen;">Estatus 1-Actividad Finalizada / Existen:@ViewBag.realizada Actividades</div>
            <div class="alert col-md-6" style="background-color:cornflowerblue;">Estatus 3-Actividad en Proceso / Existen:@ViewBag.ConFecha Actividades</div>
            <div class="alert col-md-6" style="background-color:lightgray;">Estatus 2-Actividad sin fecha compromiso / Existen:@ViewBag.sinfecha Actividades</div>
            <div class="alert col-md-6" style="background-color:orangered;  color: white;">Estatus 6-Actividad URGENTE / Existen:@ViewBag.Urgente Actividades</div>
        </center>
    </div>
</div>
<div class="card">
    <div class="body">
        <table class="table table-bordered" id="proye">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Estatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Maquinas.Area)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Maquinas.Maquina)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Actividad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User_gen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaHora)
                    </th>
                    <th>
                        @Html.DisplayName("Responsable")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaHora_Compromiso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comentarios)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    if (item.Estatus == 6)
                    {
                <tr style="background-color:orangered;  color: white;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Estatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maquinas.Area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maquinas.Maquina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actividad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_gen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaHora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_res)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaHora_Compromiso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comentarios)
                    </td>
                    <td>
                        |@if (ViewBag.cuser.Contains(item.User_res))
                        {@Html.ActionLink("Actualizar", "Update", new { id = item.ID })}|
                        |@Html.ActionLink("Detalles", "Details", new { id = item.ID })|
                    </td>

                </tr>
                    }
                    else
                    {
                        if (item.Estatus == 0 || item.Estatus == 2 || item.Estatus > 6)
                        {
            <tr style="background-color:lightgray;">
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Maquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_res)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora_Compromiso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    |@if (ViewBag.cuser.Contains(item.User_res))
                    {@Html.ActionLink("Actualizar", "Update", new { id = item.ID })}|
                    |@Html.ActionLink("Detalles", "Details", new { id = item.ID })|
                </td>

            </tr>
                        }
                        if (item.Estatus == 3)
                        {
            <tr style="background-color:cornflowerblue;">
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Maquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_res)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora_Compromiso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    |@if (ViewBag.cuser.Contains(item.User_res))
                    {@Html.ActionLink("Actualizar", "Update", new { id = item.ID })}|
                    |@Html.ActionLink("Detalles", "Details", new { id = item.ID })|
                </td>
            </tr>
                        }
                        if (item.Estatus == 4)
                        {
            <tr  style="background-color:yellow;">
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Maquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_res)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora_Compromiso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    |@if (ViewBag.cuser.Contains(item.User_res))
                    {@Html.ActionLink("Actualizar", "Update", new { id = item.ID })}|
                    |@Html.ActionLink("Detalles", "Details", new { id = item.ID })|
                </td>

            </tr>
                        }
                        if (item.Estatus == 5)
                        {
            <tr style="background-color:darkred;  color: white;">
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Maquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_res)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora_Compromiso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    |@if (ViewBag.cuser.Contains(item.User_res))
                    {@Html.ActionLink("Actualizar", "Update", new { id = item.ID })}|
                    |@Html.ActionLink("Detalles", "Details", new { id = item.ID })|
                </td>

            </tr>
                        }
                        if (item.Estatus == 1)
                        {
            <tr style="background-color:darkseagreen;">
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquinas.Maquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_res)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaHora_Compromiso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    |@if (ViewBag.cuser.Contains(item.User_res))
                    {@Html.ActionLink("Actualizar", "Update", new { id = item.ID })}|
                    |@Html.ActionLink("Detalles", "Details", new { id = item.ID })|
                </td>

            </tr>
                        }

                    }


                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {

    <script>

                $(document).ready(function () {
                    $('#proye').DataTable({
                        "lengthMenu": [[5, 15, 50, -1], [5, 15, 50, "Todos"]],
                        "order": [[0, "desc"]],
                        "scrollX": true,
                        "language": {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningun dato disponible en esta tabla =(",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "ultimo",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad"
                            }
                        }
                    });
                      if(@ViewBag.Fechaprox!=0)
                                var notice2 = PNotify.error({
                title: 'Nuevas Funciones',
                text: 'Existen nuevas funciones de Control de Usuario... Se continua trabajando en el reporte automatico de fallas!',
                addClass: 'nonblock'              
                });

                    var proyectos_vencidos = 0;
                    var proyectos_Proximos = 0;
                    if(@ViewBag.NoReali!=0)
                        proyectos_vencidos =  @ViewBag.NoReali;
                   if(@ViewBag.Fechaprox!=0)
                    proyectos_Proximos = @ViewBag.Fechaprox;

                   document.getElementById("alerts").innerHTML ="Existen: <BR/>"+proyectos_vencidos+"-- OILs vencidos <BR/>"+ proyectos_Proximos +"-- OILs proximos a vencer";
                 //  window.alert("Existen: "+proyectos_vencidos+"-- OILs vencidos y ademas tienes: "+ proyectos_Proximos +"-- OILs proximos a vencer");

                });
    </script>

}