@model Flex_SGM.Models.CAndon2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAndon2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assigned.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assigned.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primary.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primary.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proyectos.Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyectos.Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoDeParte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoDeParte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDeParte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDeParte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AndonDefectoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AndonDefectoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AndonAuditorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AndonAuditorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AndonSupervisoresID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AndonSupervisoresID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asistentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asistentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstatusAndon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusAndon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esproblema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esproblema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esproblemaseguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esproblemaseguridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esproblemavario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esproblemavario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a1why)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a1why)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a2why)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a2why)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a3why)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a3why)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a4why)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a4why)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a50d)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a50d)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Causas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Causas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
