@model IEnumerable<Flex_SGM.Models.Bitacora>

@{
    ViewBag.Title = "Bitacora";
}
<center>
    <h1 style="background-color:orange">
        @Html.ActionLink("|||Crear Nueva! <= Presiona aquí para crear un nuevo registro...|||", "Create")

    </h1>
</center>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <div class="col-md-5">

                            <div class="form-group">
                                <label for="texto">Filtrar por texto...</label>
                                <input type="text" class="form-control" name="SearchString" />
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="area">Filtrar por Area usuario...</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("area", null, "--Todas--", htmlAttributes: new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="puesto">Filtrar por Puesto...</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("puesto", null, "--Todas--", htmlAttributes: new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="input-daterange input-group" id="bs_datepicker_range_container">

                                <label for="FechaInicial">Fecha Inicial...</label>
                                <input type="text" class="form-control" name="fecha_inicial" value=@ViewBag.fecha_inicial autocomplete="off">

                                <span class="input-group-addon">- A -</span>

                                <label for="FechaFinal">Fecha Final...</label>
                                <input type="text" class="form-control" name="fecha_final" value=@ViewBag.fecha_final autocomplete="off">

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="amaquina">Filtrar por Area Maquina...</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("amaquina", null, "--Todas--", htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged()" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="maquina">Filtrar por Nombre de Maquina...</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("maquina", null, "--Todas--", htmlAttributes: new { @class = "form-control", id = "Normaldrop" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="switch">
                                <label><input type="checkbox" name="t1" id="t1" value=true checked>Primer Turno</label>
                            </div>
                            <div class="switch">
                                <label><input type="checkbox" name="t2" id="t2" value=true checked>Segundo Turno</label>
                            </div>
                            <div class="switch">
                                <label><input type="checkbox" name="t3" id="t3" value=true checked>Tercer Turno</label>
                            </div>
                            <div class="switch">
                                <label><input type="checkbox" name="nt" id="nt" value=true >Sin Terminar</label>
                            </div>
                            <div class="switch">
                                <label><input type="checkbox" name="fs" id="fs" value=true>Fin de Semana</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <input data-toggle="tooltip" title="¡Muestra los valores Filtrados en la tabla de abajo!" type="submit" name="btn" value="Buscar Bitacora" class="btn btn-primary col-md-2" />
                        <input data-toggle="tooltip" title="¡Top 5 de los filtros seleccionados!" type="submit" name="btn" value="Top 5" class="btn btn-primary col-md-1" />
                        <input data-toggle="tooltip" title="¡Resumen de los dias seleccionados!" type="submit" name="btn" value="Resumen" class="btn btn-primary col-md-1" />
                        <input data-toggle="tooltip" title="¡RoadMap de los filtros seleccionados!" type="submit" name="btn" value="RoadMap" class="btn btn-primary col-md-1" />
                        <input data-toggle="tooltip" title="¡Metricos MTBF y MTTR!" type="submit" name="btn" value="Metricos" class="btn btn-primary col-md-1" formtarget="_blank" />
                        <input data-toggle="tooltip" title="¡Exportar a Excel sin formato!" type="submit" name="btn" value="Exportar Excel" class="btn btn-primary col-md-1" />
                        <input data-toggle="tooltip" title="¡Exportar a Excel con formato!" type="submit" name="btn" value="Exportar Formato" class="btn btn-primary col-md-1" />
                        @if (ViewBag.super)
                        {
                            <button data-toggle="tooltip" title="Para actualizar informacion de las juntas diarias!" class="btn btn-primary col-sm-offset-1 col-md-2" onclick="location.href='@Url.Action("index", "juntas")';return false;">Diarios de Juntas</button>
                        }

                    </div>
                </div>
            </div>
        </div>
      </div>
   
    }
    <div class="row">
        <center> @{Html.RenderPartial("_Result");}</center>
    </div>

    <div class="card">
        <div class="body">
            <table class="table table-bordered table-striped" id="bitacora" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("ID")
                        </th>
                        <th>
                            @Html.Label("Menu")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaHora)
                        </th>
                        <th>
                            @Html.DisplayName("Usuario")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Maquinas.SubMaquina)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sintoma)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Causa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccionCorrectiva)
                        </th>
                        <th style="width:10px;">
                            @Html.DisplayNameFor(model => model.Tiempo)
                        </th>
                        <th style="width:10px;">
                            @Html.DisplayNameFor(model => model.Folio)
                        </th>
                        <th style="width:10px;">
                            @Html.DisplayNameFor(model => model.Porcentaje)
                        </th>
                        <th style="width:10px;">
                            @Html.DisplayNameFor(model => model.MTBF)
                        </th>
                        <th style="width:10px;">
                            @Html.DisplayNameFor(model => model.MTTR)
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        if (!item.noterminado && !item.findesemana)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @if (item.FechaVerificacion == null)
                            {
                                // @Html.Label("Esperando Verificacion")
                                if (ViewBag.super)
                                {
                                    <button onclick=" $(this).hide(); return Verify(@item.ID); ">Verificar</button>
                                }
                            }
                            else
                            {
                                @Html.Label("Verificada, " + item.Verifico)
                            }
                            @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn  btn-info", @target = "_blank" })
                            @if (ViewBag.cuser.Contains(item.usuario))
                            {
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn  btn-default", @target = "_blank" })
                            }
                            @if (ViewBag.super && ViewBag.uarea.Contains(item.usuario_area))
                            {
                                @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, new { @class = "btn  btn-danger", @target = "_blank" })
                            }
                            @if (ViewBag.uarea.Contains(item.usuario_area) && item.noterminado)
                            {
                                @Html.ActionLink("Terminar", "Finish", new { id = item.ID, searchString = ViewBag.searchString2, area = ViewBag.area2, amaquina = ViewBag.amaquina2, puesto = ViewBag.puesto2, maquina = ViewBag.maquina2, fecha_inicial = ViewBag.fecha_inicial, fecha_final = ViewBag.fecha_final, t1 = ViewBag.t1, t2 = ViewBag.t2, t3 = ViewBag.t3 }, new { @class = "btn  btn-success" })
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario)
                        </td>
                        <td style="width:10px;">
                            @Html.DisplayFor(modelItem => item.Maquinas.SubMaquina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sintoma)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Causa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccionCorrectiva)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tiempo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Folio)
                        </td>
                        @if (item.Tiempo > 1)
                        {
                            if (item.MTTR == 0)
                            {
                                <td>
                                    @Html.Label("1er Falla")
                                </td>
                                <td>
                                    @Html.Label("1er Falla")
                                </td>
                                <td>
                                    @Html.Label("1er Falla")
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Porcentaje)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MTBF)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MTTR)
                                </td>
                            }
                        }
                        else
                        {
                            <td>
                                @Html.Label("N/A")
                            </td>
                            <td>
                                @Html.Label("N/A")
                            </td>
                            <td>
                                @Html.Label("N/A")
                            </td>
                        }
                    </tr>
                        }
                        else
                        {
                            if (item.noterminado)
                            {
                <tr class="danger">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @if (item.FechaVerificacion == null)
                        {
                            @Html.Label("Esperando Verificacion")
                            if (ViewBag.super)
                            {
                                <button onclick=" $(this).hide(); return Verify(@item.ID);">Verificar</button>
                            }
                        }
                        else
                        {
                            @Html.Label("Verificada, " + item.Verifico)
                        }
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn  btn-info", @target = "_blank" })
                        @if (ViewBag.cuser.Contains(item.usuario))
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn  btn-default", @target = "_blank" })
                        }
                        @if (ViewBag.super && ViewBag.uarea.Contains(item.usuario_area))
                        {
                            @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, new { @class = "btn  btn-danger", @target = "_blank" })
                        }
                        @if (ViewBag.uarea.Contains(item.usuario_area) && item.noterminado)
                        {
                            @Html.ActionLink("Finalizar", "Finish", new { id = item.ID, searchString = ViewBag.searchString2, area = ViewBag.area2, amaquina = ViewBag.amaquina2, puesto = ViewBag.puesto2, maquina = ViewBag.maquina2, fecha_inicial = ViewBag.fecha_inicial, fecha_final = ViewBag.fecha_final, t1 = ViewBag.t1, t2 = ViewBag.t2, t3 = ViewBag.t3 }, new { @class = "btn  btn-success" })
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaHora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario)
                    </td>
                    <td style="width:10px;">
                        @Html.DisplayFor(modelItem => item.Maquinas.SubMaquina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sintoma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Causa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccionCorrectiva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tiempo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Folio)
                    </td>
                    @if (item.Tiempo > 1)
                    {
                        if (item.MTTR == 0)
                        {
                            <td>
                                @Html.Label("1er Falla")
                            </td>
                            <td>
                                @Html.Label("1er Falla")
                            </td>
                            <td>
                                @Html.Label("1er Falla")
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Porcentaje)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MTBF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MTTR)
                            </td>
                        }
                    }
                    else
                    {
                        <td>
                            @Html.Label("N/A")
                        </td>
                        <td>
                            @Html.Label("N/A")
                        </td>
                        <td>
                            @Html.Label("N/A")
                        </td>
                    }
                </tr>
                            }
                            else
                            {
                <tr class="warning">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @if (item.FechaVerificacion == null)
                        {
                            @Html.Label("Esperando Verificacion")
                            if (ViewBag.super)
                            {
                                <button onclick=" $(this).hide(); return Verify(@item.ID);">Verificar</button>
                            }
                        }
                        else
                        {
                            @Html.Label("Verificada, " + item.Verifico)
                        }
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn  btn-info", @target = "_blank" })
                        @if (ViewBag.cuser.Contains(item.usuario))
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn  btn-default", @target = "_blank" })
                        }
                        @if (ViewBag.super && ViewBag.uarea.Contains(item.usuario_area))
                        {
                            @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, new { @class = "btn  btn-danger", @target = "_blank" })
                        }
                        @if (ViewBag.uarea.Contains(item.usuario_area) && item.noterminado)
                        {
                            @Html.ActionLink("Finalizar", "Finish", new { id = item.ID, searchString = ViewBag.searchString2, area = ViewBag.area2, amaquina = ViewBag.amaquina2, puesto = ViewBag.puesto2, maquina = ViewBag.maquina2, fecha_inicial = ViewBag.fecha_inicial, fecha_final = ViewBag.fecha_final, t1 = ViewBag.t1, t2 = ViewBag.t2, t3 = ViewBag.t3 }, new { @class = "btn  btn-success" })
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaHora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario)
                    </td>
                    <td style="width:10px;">
                        @Html.DisplayFor(modelItem => item.Maquinas.SubMaquina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sintoma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Causa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccionCorrectiva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tiempo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Folio)
                    </td>
                    @if (item.Tiempo > 1)
                    {
                        if (item.MTTR == 0)
                        {
                            <td>
                                @Html.Label("1er Falla")
                            </td>
                            <td>
                                @Html.Label("1er Falla")
                            </td>
                            <td>
                                @Html.Label("1er Falla")
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Porcentaje)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MTBF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MTTR)
                            </td>
                        }
                    }
                    else
                    {
                        <td>
                            @Html.Label("N/A")
                        </td>
                        <td>
                            @Html.Label("N/A")
                        </td>
                        <td>
                            @Html.Label("N/A")
                        </td>
                    }
                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    @section Scripts {

        <script>


     function Verify(idx)
     {
          $.post("@Url.Action("Verify","Bitacoras")",{ id:idx} ,function(data){
              alert(data);
          });

    }
        $(document).ready(function () {

            var notice2 = PNotify.info({
                title: 'Nuevas Funciones',
                text: 'Existen nuevas funciones de Control de Usuario... Se continua trabajando en el reporte automatico de fallas!',
                addClass: 'nonblock'
});
            $('[data-toggle="tooltip"]').tooltip();
            $("#Normaldrop").chosen();

      
        });
        </script>

    }