    @using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="~/Users/@User.Identity.GetUserName()/user.png" alt="."onerror="this.onerror=null;this.src='~/Users/Anonimo/user.png';"/>
                @Html.Label("Hola " + User.Identity.GetUserName() + "!")
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right dropdown-menu2">
                <li>@Html.ActionLink("-", "Index", "Home")</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
                <li>@Html.ActionLink("Perfil", "Index", "Manage", routeValues: null, htmlAttributes: new { })</li>
                <li>@Html.ActionLink("Usuarios", "Contacs", "Manage", routeValues: null, htmlAttributes: new { })</li>
                <li>@Html.ActionLink("Programas", "Index", "Maquinas")</li>
                <li>@Html.ActionLink("Admin Roles", "Index", "RolesAdmin")</li>
                <li>@Html.ActionLink("Admin Usuarios", "Index", "UsersAdmin")</li>
                <li>@Html.ActionLink("Comentarios", "Create", "Sugerencias")</li>
                <li>@Html.ActionLink("Ayuda", "Index", "Help/Index", null, null)</li>
            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><b>Cerrar sesión</b></a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", onclick = "$('#loadingImg').show();" })</li>
    <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", onclick = "$('#loadingImg').show();"  })</li>
</ul>
}

