@model IEnumerable<Flex_SGM.Models.eAreas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PCR Areas</h2>

<p>
    @if (ViewBag.super == true)
    {
        @Html.ActionLink("Crear Nuevo", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>Menú</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @if (ViewBag.super == true)
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID })
                } |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @if (ViewBag.super == true)
                {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }
</table>
<h4>
    @Html.ActionLink("Menú PCR", "../Ingenieria/Index")
</h4>
