@model IEnumerable<Flex_SGM.Models.CDockaudit>
@{
    ViewBag.Title = "Ingenieria";
    Layout = "~/Views/Shared/_LayoutE.cshtml";
}


<Center class="clearfix">
    <div class="col-md-6">
        <br>
        <br>
        <div>@Html.ActionLink("PCRs", "Index", "pcrs", null, htmlAttributes: new { @onclick = "$('#loadingImg').show();", @class = "btn btn-default" })</div>
        <br>

    </div>
    <div class="col-md-6">
        <br>
        <div>   @Html.ActionLink("PCR Reasons", "Index", "ereasons", null, htmlAttributes: new { @onclick = "$('#loadingImg').show();", @class = "btn btn-default" })</div>
        <br>
        <div>  @Html.ActionLink("PCR Originators", "Index", "eoriginators", null, htmlAttributes: new { @onclick = "$('#loadingImg').show();", @class = "btn btn-default" })</div>
        <br>
        <br>
        <div class="x_panel">
            APARTADOS COMPARTIDOS CON CALIDAD
            <div>  @Html.ActionLink("Clientes", "Index", "cClientes", null, htmlAttributes: new { @class = "btn btn-default", @onclick = "$('#loadingImg').show();" })</div>
            <br>
            <div> @Html.ActionLink("Proyectos", "Index", "cProyectos", null, htmlAttributes: new { @class = "btn btn-default", @onclick = "$('#loadingImg').show();" })</div>
            <br>
            <div>  @Html.ActionLink("Areas", "Index", "cAreas", null, htmlAttributes: new { @class = "btn btn-default", @onclick = "$('#loadingImg').show();" })</div>
        </div>
        <br>
    </div>
    <hr />
    <hr />
</Center>

