@model Flex_SGM.Models.Sugerencias

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />
    <br />
    <Center class="clearfix">
        <div class="x_panel cbg" style="background-color: #edf3f9; border-color: darkgray; width: 30%; align-content:center">
            <center>
                <h2>Su Opinión Importa</h2>
                <h2>¡Ayúdanos a Mejor!</h2>
            </center>
            <div class="form-horizontal">
                <h4>¿Tiene alguna idea para mejorar esta aplicación?</h4>
                <hr />
                <div class="form-group x-content">
                    @Html.LabelFor(model => model.DiaHora, "Fecha", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DiaHora, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.HiddenFor(model => model.DiaHora)
                        @Html.ValidationMessageFor(model => model.DiaHora, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.HiddenFor(model => model.Usuario)
                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                    </div>
                </div>
                <fieldset role="group" class="form-group x-content" style="justify-items: left" aria-labelledby="radioLabel">
                    <legend>Por favor, calificar la aplicación</legend>
                    <div class="form-group checkbox">
                        @Html.LabelFor(model => model.Excelente, "Excelente", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-1">
                            <div style="vertical-align: middle; margin-top: 6px; margin-bottom: 14px;">
                                @Html.EditorFor(model => model.Excelente)
                                @Html.ValidationMessageFor(model => model.Excelente, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        @Html.LabelFor(model => model.Bien, "Buena", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-1">
                            <div style="vertical-align: middle; margin-top: 6px; margin-bottom: 14px;">
                                @Html.EditorFor(model => model.Bien)
                                @Html.ValidationMessageFor(model => model.Bien, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        @Html.LabelFor(model => model.Regular, "Regular", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-1">
                            <div style="vertical-align: middle; margin-top: 6px; margin-bottom: 14px;">
                                @Html.EditorFor(model => model.Regular)
                                @Html.ValidationMessageFor(model => model.Regular, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        @Html.LabelFor(model => model.Mal, "Mala", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-1">
                            <div style="vertical-align: middle; margin-top: 6px; margin-bottom: 14px;">
                                @Html.EditorFor(model => model.Mal)
                                @Html.ValidationMessageFor(model => model.Mal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        @Html.LabelFor(model => model.Pesima, "Pésima", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-1">
                            <div style="vertical-align: middle; margin-top: 6px; margin-bottom: 14px;">
                                @Html.EditorFor(model => model.Pesima)
                                @Html.ValidationMessageFor(model => model.Pesima, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <center class="form-group">
                <div class="col-md-12" style="vertical-align:middle">
                    <input type="submit" value="Enviar" id="enviar" class="btn btn-primary" style="width:80px; height:32px" />
                    <h4 class="btn btn-default cancelar" style="margin-top: -1px">
                        @Html.ActionLink("Cancelar", "Index", "Home")
                    </h4>
                    @if (ViewBag.super)
                    {
                        <h4 class="btn btn-success" style="margin-top: -1px">
                            @Html.ActionLink("View list", "Index", "Sugerencias")
                        </h4>
                    }
                </div>
            </center>
        </div>
    </Center>
}
@section Scripts {
    <script>

        $("#enviar").click(function () {
            alert("Muchas gracias por su apoyo!");
        });

        $("input:checkbox").click(function () {
            $("input:checkbox").each(function () {
                $(this).prop('checked', false);
            });
            $(this).prop('checked', true);
        //    alert($(this).prop("Muchas gracias por su apoyo!"));
        });

    </script>
}