@model IEnumerable<Flex_SGM.Models.Sugerencias>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    @Html.ActionLink("Crear Registro Nuevo", "Create")
</h3>
<div class="x_panel">
    <div class="x_content clearfix">
        <table class="table table-bordered table-striped clearfix" style="width:100%" id="sugerencias">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaHora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Excelente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bien)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Regular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pesima)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comentarios)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estatus)
                    </th>
                    <th style="width:190px">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Excelente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Regular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pesima)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comentarios)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estatus)
                        </td>
                        <td>
                            @if (ViewBag.super)
                            {
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID })
                            } |
                            @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                            @if (ViewBag.super)
                            {
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {

    <script>

        $('[data-toggle="tooltip"]').tooltip();
        $("#Normaldrop").chosen();
        $('#sugerencias').DataTable({
            "dom": 'lBfrtip',
            "lengthMenu": [[5, 15, 50, -1], ["5", "15", "50", "Todos"]],
            "buttons": [
                {
                    extend: 'copy',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    },
                },
                {
                    extend: 'csv',
                    title: 'Sugerencias/Comentarios Report',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    },
                },
                {
                    extend: 'print',
                    title: 'Sugerencias/Comentarios Report',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    },
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Sugerencias/Comentarios Report',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    },
                },
                {
                    extend: 'excelHtml5',
                    title: 'Sugerencias/Comentarios Report',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    },
                }
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        var i = $(data).prop("checked") === true ? "Yes" : "No";
                        return i;
                    },
                    "targets": [2, 3, 4, 5, 6],
                    "createdCell": function (td, cellData, data, row, col) {
                        if ($(cellData).prop("checked") === true) {
                            $(td).css('background-color', '#e3eef8');
                        }
                    },  
                }
            ],
            "order": [[0, "desc"]],
            "scrollX": true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningun dato disponible en esta tabla =(",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "ultimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }
        });
    </script>
}