@model Flex_SGM.Models.Proyectos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proyectos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maquinas.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquinas.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_gen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_gen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Que)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Que)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paraque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paraque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paraquien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paraquien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuando)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuando)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conquien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conquien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Como)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Como)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaHora_Cierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaHora_Cierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaHora_Verificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaHora_Verificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Verifico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Verifico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urgente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urgente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
